.container {
    width: 80%;
    margin: 0 auto;
}

.title {
    text-align: center;
    margin-bottom: 20px;
}

.form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
}

input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
.arreglos-container {
    margin: auto;
    width: 50%;
    text-align: left;
}

.arreglos-title {
    text-align: center;
}

.arreglo-form {
    margin-bottom: 20px;
}

.arreglos-buttons {
    margin-top: 20px;
    text-align: center;
}

.arreglos-buttons button {
    padding: 10px 20px;
    margin-right: 10px;
    border: 2px solid #000;
    background-color: #fff;
    color: #000;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.arreglos-buttons button:hover {
    background-color: #000;
    color: #fff;
}

