.container {
    width: 70%;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    overflow: hidden; /* Para truncar el texto que se desborda */
    white-space: nowrap; /* Para evitar que el texto se divida en múltiples líneas */
    text-overflow: ellipsis; /* Agrega puntos suspensivos (...) cuando el texto se corta */
    max-width: 200px; /* Establece un ancho máximo para el label */
}

span {
    margin-left: 5px;
}

.arrow-button {
    padding: 10px 20px;
    margin-top: 20px;
    border: 2px solid #000;
    background-color: #fff;
    color: #000;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.arrow-button:hover {
    background-color: #000;
    color: #fff;
}
